In [15]:
import pandas as pd
import numpy as np
import glob

# Load Up Files

In [5]:
# File to Load (Remember to Change These)
file_to_load = "data/JC-201701-citibike-tripdata.csv"

# Read Purchasing File and store into Pandas data frame
cb_2017_01 = pd.read_csv(file_to_load)

#look at your data first!
cb_2017_01.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [3]:
# have list to rename all column names 

column_names = ["trip duration", 
                "start time", 
               "stop time", 
               "start station ID", 
               "start station name", 
               "start station latitude", 
               "start station longitude", 
               "end station ID", 
               "end station name", 
               "end station latitude", 
               "end station longitude", 
               "bike ID", 
               "user type", 
               "birth year",
               "gender"]

In [8]:
test = cb_2017_01

In [11]:
test.columns = column_names

In [19]:
test.columns
test.head()
test.shape

(12926, 15)

In [14]:
cb_2017_01.columns

Index(['trip duration', 'start time', 'stop time', 'start station ID',
       'start station name', 'start station latitude',
       'start station longitude', 'end station ID', 'end station name',
       'end station latitude', 'end station longitude', 'bike ID', 'user type',
       'birth year', 'gender'],
      dtype='object')

## Load up the rest

In [ ]:
# File to Load (Remember to Change These)

#2017

feb_17 = "data/JC-201702-citibike-tripdata.csv"
march_17 = "data/JC-201703-citibike-tripdata.csv"
april_17 = "data/JC-201704-citibike-tripdata.csv"
may_17 = "data/JC-201705-citibike-tripdata.csv"
june_17 = "data/JC-201706-citibike-tripdata.csv"
july_17 = "data/JC-201707-citibike-tripdata.csv"
aug_17 = "data/JC-201708-citibike-tripdata.csv"
sep_17 = "data/JC-201709-citibike-tripdata.csv"
oct_17 = "data/JC-201710-citibike-tripdata.csv"
nov_17 = "data/JC-201711-citibike-tripdata.csv"
dec_17 = "data/JC-201712-citibike-tripdata.csv"
# Read Purchasing File and store into Pandas data frame
cb_2017_02 = pd.read_csv(feb_17)
cb_2017_03 = pd.read_csv(march_17)
cb_2017_04 = pd.read_csv(april_17)
cb_2017_05 = pd.read_csv(may_17)
cb_2017_06 = pd.read_csv(june_17)
cb_2017_07 = pd.read_csv(july_17)
cb_2017_08 = pd.read_csv(aug_17)
cb_2017_09 = pd.read_csv(sep_17)
cb_2017_10 = pd.read_csv(oct_17)
cb_2017_11 = pd.read_csv(nov_17)
cb_2017_12 = pd.read_csv(dec_17)


#2018
jan_18 = "data/JC-201801-citibike-tripdata.csv"
feb_18 = "data/JC-201802-citibike-tripdata.csv"
march_18 = "data/JC-201803-citibike-tripdata.csv"
april_18 = "data/JC-201804-citibike-tripdata.csv"
may_18 = "data/JC-201805-citibike-tripdata.csv"
june_18 = "data/JC-201806-citibike-tripdata.csv"
july_18 = "data/JC-201807-citibike-tripdata.csv"
aug_18 = "data/JC-201808-citibike-tripdata.csv"
sep_18 = "data/JC-201809-citibike-tripdata.csv"
oct_18 = "data/JC-201810-citibike-tripdata.csv"
nov_18 = "data/JC-201811-citibike-tripdata.csv"
dec_18 = "data/JC-201812-citibike-tripdata.csv"
# Read Purchasing File and store into Pandas data frame
cb_2017_02 = pd.read_csv(feb_17)
cb_2017_03 = pd.read_csv(march_17)
cb_2017_04 = pd.read_csv(april_17)
cb_2017_05 = pd.read_csv(may_17)
cb_2017_06 = pd.read_csv(june_17)
cb_2017_07 = pd.read_csv(july_17)
cb_2017_08 = pd.read_csv(aug_17)
cb_2017_09 = pd.read_csv(sep_17)
cb_2017_10 = pd.read_csv(oct_17)
cb_2017_11 = pd.read_csv(nov_17)
cb_2017_12 = pd.read_csv(dec_17)

In [16]:
# get data file names
path =r'C:\Users\ivvya\Desktop\Bootcamp\HW\Citi_Bike_Analytics\data'
filenames = glob.glob(path + "/*.csv")

cityBike_df = []
for filename in filenames:
    df = pd.read_csv(filename, index_col=None, header=0)
    df.columns = column_names
    cityBike_df.append(df)
    

# Concatenate all data into one DataFrame
cityBike_big = pd.concat(cityBike_df, ignore_index=True)

In [18]:
cityBike_big.shape

(960989, 15)

In [22]:
cityBike_big.head()

,trip duration,start time,stop time,start station ID,start station name,start station latitude,start station longitude,end station ID,end station name,end station latitude,end station longitude,bike ID,user type,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1